
.navigate {
    display: block;
}

.navigate__list {
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigate__item {
    margin: 0 30px;
}

@media screen and (max-width: 1100px) {
    .navigate {
        background-color: #fff;
    }
}
